.authform
  %h3= t '.title', name: resource_name.to_s.humanize
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, role: 'form'}) do |f|
    = devise_error_messages!
    .form-group
      = f.label :name
      = f.text_field :name, autofocus: true, class: 'form-control'
    .form-group
      = f.label :email
      = f.email_field :email, class: 'form-control'
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        = t 'devise.registrations.waiting_confirmation', email: resource.unconfirmed_email
    %fieldset
      %p= t '.password_notice'
      .form-group
        = f.label :password
        = f.password_field :password, autocomplete: 'off', class: 'form-control'
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: 'form-control'
    %fieldset
      %p= t '.password_confirmation_notice'
      .form-group
        = f.label :current_password
        = f.password_field :current_password, class: 'form-control'
    = f.submit t('.submit'), class: 'button right'

.authform
  = button_to t('.cancel_submit'), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger right'