.authform
  = form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'} do |f|
    %h3= t '.title'
    = devise_error_messages!
    .form-group
      = f.label :name
      = f.text_field :name, autofocus: true, class: 'form-control'
    .form-group
      = f.label :email
      = f.email_field :email, class: 'form-control'
    .form-group
      = f.label :password
      = f.password_field :password, class: 'form-control'
    .form-group
      = f.label :password_confirmation
      = f.password_field :password_confirmation, class: 'form-control'
    = f.submit t('.submit'), class: 'button right'