%tr{class: contacts_backup.is_actual ? 'success' : ''}[contacts_backup]
  %td= contacts_backup.user_name
  %td= contacts_backup.name
  %td= contacts_backup.phone
  %td= l contacts_backup.created_at, format: :long
  - if can? :manage, ContactsBackup
    %td.actions
      .btn-group.btn-group-xs
        = link_to glyph(:ok), set_actual_contacts_backup_path(contacts_backup), method: :patch, remote: true, class: 'btn btn-default', title: t('contacts_backups.table.set_actual'), data: {toggle: :tooltip, placement: :left, container: 'body'} unless contacts_backup.is_actual
        = link_to glyph(:trash), contacts_backup, method: :delete, data: {confirm: t(:confirmation), toggle: :tooltip, placement: :left, container: 'body'}, class: 'btn btn-danger', title: t('contacts_backups.table.delete')
