= form_for @contacts_backup, html: {class: 'form-horizontal', role: 'form'} do |f|

  .form-group{class: f.object.errors[:is_actual].present? ? 'has-error' : ''}
    .col-sm-offset-2.col-sm-6
      .checkbox
        %label
          = f.check_box :is_actual
          = ContactsBackup.human_attribute_name :is_actual
      - if f.object.errors[:is_actual]
        %span.help-block= f.object.errors[:is_actual].join ', '

  .form-group{class: f.object.errors[:name].present? ? 'has-error' : ''}
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-6
      = f.text_field :name, class: 'form-control'
      - if f.object.errors[:name]
        %span.help-block= f.object.errors[:name].join ', '

  .form-group{class: f.object.errors[:phone].present? ? 'has-error' : ''}
    = f.label :phone, class: 'col-sm-2 control-label'
    .col-sm-6
      = f.text_field :phone, class: 'form-control'
      - if f.object.errors[:phone]
        %span.help-block= f.object.errors[:phone].join ', '

  .form-group
    .col-sm-offset-2.col-sm-6= f.submit class: 'btn btn-primary'
