- model_class = ContactsBackup
.resource_table
  %table#contacts_backups_table.table.table-hover
    %thead
      %tr
        %th= model_class.human_attribute_name :user
        %th= model_class.human_attribute_name :name
        %th= model_class.human_attribute_name :phone
        %th= model_class.human_attribute_name :created_at
        - if can? :manage, ContactsBackup
          %th.actions
    %tbody
      = render @contacts_backups

  = paginate @contacts_backups, remote: true
