.page-header
  %h3= t '.title'

- if can? :manage, ContactsBackup
  .panel.panel-default
    .panel-heading
      = form_tag contacts_backups_path, method: :get, id: 'search_form', class: 'form-inline', remote: true do
        .row
          .form-group.col-xs-4.col-md-4
            .input-group
              -#%span.input-group-addon= glyph(:search)
              %span.input-group-btn
                %button.btn.btn-info{type: 'submit'}= glyph(:search)
              = text_field_tag :q, params[:q], class: 'form-control', placeholder: t('.search_placeholder')
              %span.input-group-btn
                %button.btn.btn-default.clear_search_input{type: 'button'}= glyph(:remove)

          .form-group.col-xs-4.col-md-4
            .input-group
              -#%span.input-group-addon= glyph(:search)
              %span.input-group-btn
                %button.btn.btn-info{type: 'submit'}= glyph(:search)
              = text_field_tag :user_q, params[:user_q], class: 'form-control', placeholder: t('.user_search_placeholder')
              %span.input-group-btn
                %button.btn.btn-default.clear_search_input{type: 'button'}= glyph(:remove)

= render 'table'
