%p#notice= notice

%p
  %b User:
  = @contacts_backup.user
%p
  %b Name:
  = @contacts_backup.name
%p
  %b Phone:
  = @contacts_backup.phone

= link_to 'Edit', edit_contacts_backup_path(@contacts_backup)
\|
= link_to 'Back', contacts_backups_path
