.resource_table
  %table#users_table.resource_table.table.table-hover
    %thead
      %tr
        %th= User.human_attribute_name :name
        %th= User.human_attribute_name :email
        %th= User.human_attribute_name :created_at
        %th= User.human_attribute_name :role
        %th.actions
    %tbody
      - @users.each do |user|
        %tr
          %td= link_to user.name, user
          %td= link_to user.email, user
          %td= l user.created_at, format: :long
          %td= user.roles.first.name.titleize unless user.roles.first.nil?
          %td.actions
            = render user
            .btn-group.btn-group-xs
              %button.btn.btn-default{data: {toggle: 'modal', target: "#role-options-#{user.id}"}}= glyph(:edit)
              = link_to glyph(:trash), user_path(user), data: {confirm: t(:confirmation), toggle: :tooltip, placement: :left, container: 'body'}, method: :delete, class: 'btn btn-danger', title: t('.delete') unless user == current_user
  = paginate @users, remote: true
