.modal.fade{id: "role-options-#{user.id}"}
  .modal-dialog
    .modal-content
      = simple_form_for user, url: user_path(user), html: {method: :put, class: 'form-horizontal' } do |f|
        .modal-header
          %a.close{"data-dismiss" => "modal", "aria-hidden" => true} &times;
          %h4.modal-title= t 'users.table.change_role'
        .modal-body
          = f.input :role_ids, :collection => Role.all, :as => :radio_buttons, :label_method => lambda {|t| t.name.titleize}, :label => false, :item_wrapper_class => 'inline', checked: user.role_ids.first
        .modal-footer
          = f.submit t('users.table.change_role'), class: "submit"