.page-header
  %h3= t '.title'

%dl.dl-horizontal
  %dt= User.human_attribute_name :name
  %dd= @user.name

  %dt= User.human_attribute_name :email
  %dd= @user.email

  - if current_user.is_admin?
    %dt= User.human_attribute_name :roles
    %dd= @user.roles.any? ? @user.roles.map{|r| r.name.titleize}.join(', ') : '-'
