.authform
  = form_for(resource, as: resource_name, url: password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f|
    %h3 Forgot your password?
    %p We'll send password reset instructions.
    = devise_error_messages!
    .form-group
      = f.label :email
      = f.email_field :email, :autofocus => true, class: 'form-control'
      = f.submit 'Reset Password', :class => 'button right'
