.authform
  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
    %h3= t '.title'
    = devise_error_messages!
    .form-group
      - if devise_mapping.registerable?
        = link_to t('devise.registrations.new.title'), new_registration_path(resource_name), class: 'right'
      = f.label :login
      = f.text_field :login, autofocus: true, class: 'form-control'
      -#= f.input :login, :autofocus => true, input_html: {class: 'form-control'}
    .form-group
      - if devise_mapping.recoverable?
        = link_to t('forgot_password'), new_password_path(resource_name), class: 'right'
      = f.input :password, input_html: {class: 'form-control'}
    = f.button :submit, t('.submit'), :class => 'btnn-primary button right'
    - if devise_mapping.rememberable?
      .checkbox
        = f.check_box :remember_me
        = f.label :remember_me, t('remember_me')
