- if user_signed_in?
  = menu_item t('.contacts_backups'), contacts_backups_path if can? :manage, ContactsBackup
  - if current_user.is_admin?
    = menu_item t('.users'), users_path
  -#= menu_item current_user.name, edit_user_registration_path
  = menu_item t('.logout'), destroy_user_session_path, method: 'delete'
- else
  = menu_item t('.login'), new_user_session_path
  -#= menu_item t('.sign_up'), new_user_registration_path